
.navlets{
    display: flex;
    flex-direction: row;
    
}

.nav{
    display: flex;
    flex-direction: column;
    width: 250px;
    border-right: 1px solid grey;
    transition: 1.5s;
}
.navClose{
    width: 75px;    
}

.logoName{
    padding: 20px;
    margin: 20px;
    justify-content: center;
}
.logo_name{   
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bolder;
    left: 20px;
}
.menu-items{
    top: 30px;
    /* background-color: rgb(253, 180, 180); */
    border-radius: 20px;
    margin: 20px;
    gap: 80px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon{
    margin-right: 12px;
    cursor: pointer;
    color: black;
}
.menu-items ul li a{
    text-decoration: none;
}
.menu-items ul li{
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.menu-items ul li a:hover .link-name,
.menu-items ul li a:hover .icon{
    color: grey;
}
.link-name{
    font-family: sans-serif;
    font-size: large;
    color: black;
    font-weight: bold;
}

.dashboard{
    /* background-color: blanchedalmond; */
    height: 100%;
    width: 1024px;
    margin: 15px;
}
.dashboard .top{
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
}
.search-box{
    margin: 15px;
    border: 1px solid grey;
    height: 55px;
    border-radius: 5px;
}
.input-box{
    outline: none;
    position: relative;    
    height: 20px;
    width: 150px;
    border: none;
    background-color: aliceblue;
    text-align: center;
}
.top{
    height: 50px;
}
.acc-details{
    
    height: 100px;
    width: 200px;
    background-color: rgb(250, 229, 229);
    border-radius: 15px;
    transition: transform .5s;
}
.acc-details:hover{
    transform: scale(1.1);
    box-shadow: 1px solid grey;
}
.sectionDeets{
    margin: 20px;
}
.sectionDeets h3{
    margin: 12px;
    padding: 10px 14px;
}
.header-deets{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 35px;
}
.header-deets .acc-span-deets{
    position: relative;
    top: 15px;
    padding:  14px;
    margin: 15px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: large;
    font-weight: 10px;
}
.recentContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 25px;
    padding: 10px 14px;
}
.recentTitle{
    font-weight: bold;
    font-size: large;
    font-family: serif;
}
.recent{
    display: flex;
    flex-direction: column;
}
.recenData{
    padding: 8px;
    font-size: 15px;
}
.sectionDeets{
    margin-left: 40px;
}
.sectionDeets h3{
    background-color: rgb(192, 192, 253);
    color: white;
    padding: 14px;
    width: 150px;
    border-radius: 15px;
}
.myTable{
    width: 100%;
}
.trades{
    position: relative;
    width: 100%;
    outline: none;
}
table, tr, td {
    border: none;
}
table, th{
    font-size: bold;
}
