table{
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
td{
    padding: auto;
    text-align: center;
}
.header{
    width: 100%;
    /* max-width: 1024px; */
}
.headerContainer{
    margin: 20px;
    align-items: center;
    display: flex;
    gap:30px;
    width: 100%;
    margin: 20px;
    justify-content: space-between;
}
.headerDetails{
    padding: 20px 25px;
    margin: 15px 20px;
    gap: 30px;
}
.headerDetails h1{
    text-align: center;
    padding: 15px;
}
.trades{
    margin-left: 20px;
}
.footWrapper{
    margin: 50px;
}
.backgroundImage{
    background-image: url("./images/fx.webp");
    height: 200px;
    width: 100%;
    object-fit: cover;
}

