.navbar{
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #003580;

}
.navItems{
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
    width: 100%;
    max-width: 1024px;
    margin-top: 10px;
}
.navText{
    margin: 10px;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 8px;

}
.navText:hover{
    background-color: rgb(112, 8, 8);
    transition: .5s;
}